body {
  display: flex;
  justify-content: center;
  background-color: #dbcbd8;
  background: linear-gradient(170deg, #dbcbd8 0%, #2e4057 74%);
  height: 100%;
  text-align: center;
}

/* korteles, kur atvaizduojami paspirtukai */
.card {
  display: inline-block;
  margin: 10px;
  margin-top: 35px;
  width: auto;
  text-align: center;
  background-color: seashell;
}

/* uzvedus pele ant korteles */
.card:hover {
  border: 0.5px solid silver;
  padding: 10px;
  box-shadow: 5px 10px 10px gray;
}

/* korteles vidus */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* rusiuoti pagal ir statistika */
/* .container {
  display: flex;
  flex-direction: row;
  /* width: 55%; */
/* background-color: red;
} */

/* visas virsus su nauju ivedimu ir rusiavimu */
.Top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* rusiavimas statistika */
/* .sort {
  display: inline-block;
  float: left;
  background-color: red;
} */

/* Naujo paspirtuko ivedimas */
.newScooter {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
  flex-direction: row;
}

.insertBtn {
  margin-bottom: 25px;
}

.sortStatistic {
  display: inline-block;
}